*.iml
.gradle
/local.properties
/.idea/*
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/official-default.jks
/app/official-default-desc.txt
/something
/VERSION_HISTORY
